/node_modules
public/*
!public/.htaccess
!public/index.php
!public/robots.txt
!public/web.config
!public/assets
!public/css
!public/js
!public/admin
!public/home_screen_pdfs
!public/unavailable
!public/incode
!public/pl
/storage/fonts/*.ufm.php
/storage/fonts/*.ufm
/storage/fonts/*.php
/storage/*.key
!/storage/app/html/seo/index.html
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
xdebug_docker.log
